<script src="https://kit.fontawesome.com/6cfdb01cc0.js" crossorigin="anonymous"></script>
<div class="split-lists">
    <div class="split-list">
        <h3>{{ T "header1" }}</h3>
        <ul>
            <li>
                <a href="{{.LanguagePrefix }}/projects"><i class='fas fa-code-branch' style='font-style: normal;'></i>
                    {{T "projects"}}</a>
            </li>
            <li><a href="https://github.com/Simon-the-Shark"><i class='fab fa-github fa-lg'
                                                                style='font-style: normal;'></i> {{T "github"}}</a></li>
            <li><a href="{{.LanguagePrefix }}/about">{{T "about-me" }}</a></li>
        </ul>
    </div>
    <div class="split-list">
        <h3>{{ T "header2" }}</h3>
        <ul>
            <li>
                <a href="mailto:kontakt@kowalinski.dev"><i class='fa fa-envelope fa-lg' style='font-style: normal;'></i>
                    {{ T "email" }}</a>
            </li>
            <li><a href="https://www.instagram.com/simon_rekin/"><i class="fab fa-instagram fa-lg"></i> {{ T "instagram" }}</a></li>
            <li><a href="https://twitter.com/kowalinskidev"><i class="fab fa-twitter-square fa-lg"></i> {{ T "twitter" }}</a></li>
        </ul>
    </div>
    <div class="split-list">
        <h3>{{ T "header3" }}</h3>
        <ul>
            <li><a href="{{.Site.BaseURL | relLangURL }}">{{ T "home" }}</a></li>
            {{ if .IsTranslated }}
            {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}"><i class='fa fa-language fa-lg'></i> {{ .Language.LanguageName }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</div>