<script src="https://kit.fontawesome.com/6cfdb01cc0.js" crossorigin="anonymous"></script>
<div class="split-lists">

    {{ range $key, $value := .Site.Params.links }}
    {{ range $key, $list := $value }}

    {{ if $list.link }}
    <div class="split-list">
        <h3>{{ $list.heading }}</h3>
        <ul>
            {{ range $list.link }}
            <li><a href="{{ .url }}">{{ .text | safeHTML }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ end }}
    {{ end }}

</div>